<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lance List</title>
</head>
<body>
  <h1>Lance List</h1>

  <ul>
    <% Lance.forEach(Lance => { %>
      <li><%= Lance.valor %></li>
    <% }); %>
  </ul>
</body>
</html>