<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuario List</title>
</head>
<body>
  <h1>Usuario List</h1>

  <ul>
    <% Usuario.forEach(Usuario => { %>
      <li><%= Usuario.nome %></li>
    <% }); %>
  </ul>
</body>
</html>
